.container {
  text-align: center;
}

.buttonModal {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 10%;
  cursor: pointer;
  border-radius: 5px;
}

.modalContainer {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 300px;
  margin-top: 150px;
  margin-left: 41%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalRow {
  border-radius: 8px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  width: 300px;
  display: flex;
}

.closeIcon {
  padding-left: 50%;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeIcon:hover,
.closeIcon:focus {
  color: #000;
  cursor: pointer;
}

.modalIconSeacrh {
  position: relative;
  display: flex;
}

.modalIconSeacrh img {
  position: absolute;
  top: 2px;
}

input[type="text"] {
  width: 90%;
}

.modalChild {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  border-radius: 8px;
  width: 300px;
}

.CopyrightModal {
  margin: 400px;
}
